@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: #D6E1F0;
}

.container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5rem;
    background-color: white;
    padding: 1.2rem;
    width: 300px;
    height: 480px;
}

.qrcode{
    border-radius: .5rem;
    width: 100%;
}

.upperPart > header > h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(218, 44%, 22%);
}

.upperPart > p + p {
    font-size: 0.9375rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

p, h1{
    text-align: center;
    padding-top: 1.5rem;
}

.attribution { 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px; text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}